/*
   CSS styling examples for the Vaadin app.
   Visit https://vaadin.com/docs/flow/theme/theming-overview.html and
   https://vaadin.com/themes/lumo for more information.
*/

/* Example: CSS class name to center align the content . */
.centered-content {
  margin: 0 auto;
  max-width: 250px;

}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}

.header {
    padding: 0 var(--lumo-space-m);
    background:#04584a;
    color: white;
    height: 100px;

}

.header h1.logo {
    font-size: 2em;
    margin: var(--lumo-space-m);
    color: white;
}

.drawerToggle {
    color: white;
}

.searchBar {
 background: white;
 width: 700px
}

.filter-view {
    font-size: 4em;
    margin: 1em 0;
}

.logout{
    font-size: 1em;
    margin: 1em 1em;
    color: white;
}

.posts {
    width: 800px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header-button{
    background: white;
    color: black;
}

.reset-button {
    colour: white;
    background:#04584a;

}

.register-button{
    color: white;
}

.exit {
    position: absolute;
    margin-top: 4px;
    margin-right: 4px;
    top: 0;
    right: 0;
}

#map {
    height: 100%;
    width: 100%;
}